# File sistem operasi
.DS_Store
Thumbs.db

# Node.js (jika digunakan untuk tools)
node_modules/
npm-debug.log
yarn-error.log

# Editor IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# File temporary
*.tmp
*.temp 